:root {
  --primary: #ee26c2;
  --secondary: #2676ee;

  --background: #ffffff;

  --neutral: #f5f5f5;
  --neutral-secondary: #ebebeb;
  --neutral-thirdly: #949494;

  --button-primary: #ee26c2;
  --button-primary-hover: #e00db3;
  --button-primary-active: #d404a7;
  --button-secondary: #2676ee;
  --button-secondary-hover: #106af1;
  --button-secondary-active: #0066ff;

  --link-hover: #a70283;
}
